form{
 margin-left: 2rem;
}
 input{
    display: block;
    margin-bottom: 0.5rem;
    border: 0.1rem;
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
    transition: border-color 0.5s ease;
    outline: none;
}
 input:hover{
    border-color: brown;
 }